{% if editmode %}
    {% do pimcore_head_link().appendStylesheet(asset('static/assets/css/style.css')) %}
    {{ pimcore_head_link() }}
{% endif %}
{#footer#}
<footer id="footer">
    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>{{ 'banner_title'|trans }}</h4>
                    <p>{{ 'banner_text'|trans }}</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="abonnieren">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3></h3>
                    <div>
                        <a href="/" class="logo text-decoration-none d-flex justify-content-between">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 430 430" style="width:50px;height:50px;enable-background:new 0 0 430 430;" xml:space="preserve">
                            <style type="text/css">
                                .st0{fill:#121331;}
                                .st1{fill:#08A88A;}
                            </style>
                                <path class="st0" d="M296.4,370H70.3c-3.3,0-6-2.7-6-6V66c0-3.3,2.7-6,6-6h226.1c3.3,0,6,2.7,6,6v97.2c0,3.3-2.7,6-6,6s-6-2.7-6-6  V72H76.3V358h214.1V205.6c0-3.3,2.7-6,6-6s6,2.7,6,6V364C302.4,367.4,299.7,370,296.4,370z"/>
                                <path class="st1" d="M189.7,298c-1.5,0-3-0.6-4.2-1.7c-1.3-1.2-1.9-2.9-1.8-4.7l1.2-23.4c0.1-1.7,0.9-3.2,2.1-4.3l140.8-140.8  c2.3-2.3,6.1-2.3,8.5,0l21.2,21.2c1.1,1.1,1.8,2.7,1.8,4.2s-0.6,3.1-1.8,4.2L216.4,294.1c-1,1-2.3,1.6-3.7,1.7l-22.5,2.2  C190,298,189.9,298,189.7,298z M196.8,271.3l-0.8,14.1l13.4-1.3l135.4-135.4L332,136L196.8,271.3z"/>
                                <path class="st1" d="M346.7,150.5l-17.1-17.1l11.3-11.3c2.2-2.2,5.8-2.2,8,0l9.1,9.1c2.2,2.2,2.2,5.8,0,8L346.7,150.5z"/>
                    </svg>
                            <div class="pt-3"><span class="text-primary font-weight-bold">Pa</span><span class="text-info font-weight-bold">Pyrus</span></div>
                        </a>
                    </div>
                    <p>
                        {{ 'firm_street'|trans }} <br>
                        {{ 'firm_postcode'|trans }}
                        {{ 'firm_country'|trans }} <br><br>
                        <strong>Phone:</strong> {{ 'firm_phone'|trans }}<br>
                        <strong>Email:</strong> {{ 'firm_email'|trans }}<br>
                    </p>
                </div>
                {% if editmode %}
                    <h3 class="float-left">{{ 'Footer Column(s):' }}</h3>
                {% endif %}
                {% for i in pimcore_iterate_block(pimcore_block('mainlinkblock')) %}
                    <div class="col-lg-3 col-md-6 footer-links">
                        <h5>{{ pimcore_input('mainBlockTitle', {'placeholder': 'Footer Title'}) }}</h5>
                        <ul class="list-unstyled text-small">
                            {% for i in pimcore_iterate_block(pimcore_block('linkblock')) %}
                                <li class="bx bx-chevron-right">{{ pimcore_link('myLink', {'class': "text-muted"}) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if editmode %}
                        <hr />
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="copyright">
            © Copyright <strong><span>SimWeb</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>