{% extends 'master.html.twig' %}

{% block content %}
    <section id="services" class="{% if pimcore_checkbox('background').isChecked() %} about section-bg my-4 {% else%} services {% endif %}">
        <div class="container aos-init aos-animate" data-aos="fade-up">

            <div class="row">
                {% for book in books %}
                    {% if book.price  %}
                        {% set thumbnail = book.image.getThumbnail("card") %}
                        <div class="col-md-4 col-xs-12">
                        <div class="card h-100 border-0 shadow">
                            <div class="card-img-top">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <div class="embed-responsive-item">
                                        <img src="{{ thumbnail }}" alt="" class="img-fluid w-100" />
                                    </div>
                                </div>
                            </div>
                            <div class="card-title fw-bolder text-center text-success text-uppercase">{{ book.name }}</div>
                            <div class="card-body">
                                <p>{{ book.content }}</p>
                                <div class="d-flex justify-content-between">
                                    <span class="border bg-secondary w-25 text-center text-white">{{ book.price }}€</span>
                                    <a href="{{ book.link }}" class="card-link">Acheter ici</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if book.price  %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}